html, body {
    width: 100%;
    height: 90%;
}

main {
    margin: 30px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-grow;
}

.content-box {
    margin: 10px;
}